/**
 * ---------------------
 *  Custom
 * ---------------------
 */
.dropify-wrapper .dropify-message p{
    color:black;
}

.cursor-pointer {
    cursor: pointer;}

.float-message {
    position: fixed;
    right: 1%;
    z-index: 100;}

.mh-footer-address .mh-address-footer-item {
    padding: 20px 30px;}
.mh-footer-address .mh-address-footer-item .each-icon {
     margin-bottom: 0px;
}
.float-bottom-left{
    left: 10%;}
.float-bottom-right{
    right: 10%;}
.float-bottom-left,
.float-bottom-right{
    position: fixed;
    bottom:10%;
    padding: 30px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
    z-index: 98;
}
.float-bottom-left textarea,
.float-bottom-right textarea{
    height: 120px;
    line-height: 30px;}
.float-bottom-left select,
.float-bottom-right select{
    height: 50px !important;
    padding: 0px 5px; }
.overflow-scroll-y{
    height: 70%;
    overflow-y: scroll;}
.white-vertion .form-control {
    color: #000;
    border-color: #333333;}
.white-vertion textarea {
    color: #000;
    border-color: #333333 !important;}

.dark-vertion option{
    background-color: #202026;}

/*.profile-padding{*/
/*    padding: 20px 100px;}*/
