.demo-style-switch {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: -220px;
  background: #FFFFFF;
}
.demo-style-switch:hover {
  opacity: 1 !important;
}
.demo-style-switch .switched-options {
  position: relative;
  width: 220px;
  text-align: left;
  padding: 1px 14px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}
.demo-style-switch .config-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  border-bottom: 1px dotted #CCCCCC;
  border-top: 1px dotted #CCCCCC;
  margin-bottom: 5px;
}
.demo-style-switch ul {
  margin-bottom: 4px;
}
.demo-style-switch ul .active {
  color: #005885;
  font-weight: 700;
}
.demo-style-switch ul .active a{
  color: #005885;
  font-weight: 700;
}
.demo-style-switch ul .p {
  font-weight: 400;
  font-size: 12px;
  color: #CCC;
  margin-top: 10px;
}
.demo-style-switch ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #808080;
}
.demo-style-switch ul li a:hover {
  color: #008ed6;
}
.demo-style-switch ul.styles {
  margin-top: 10px;
}
.demo-style-switch ul.styles li {
  display: inline-block;
  margin-right: 5px;
}
.demo-style-switch ul.styles li .purple,
.demo-style-switch ul.styles li .blue,
.demo-style-switch ul.styles li .green,
.demo-style-switch ul.styles li .yellow,
.demo-style-switch ul.styles li .red,
.demo-style-switch ul.styles li .blue-munsell,
.demo-style-switch ul.styles li .pink,
.demo-style-switch ul.styles li .dark-green {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.demo-style-switch ul.styles li .purple {
  background: #a97afd;
}
.demo-style-switch ul.styles li .blue {
  background: #2196F3;
}
.demo-style-switch ul.styles li .green {
  background: #4CAF50;
}
.demo-style-switch ul.styles li .yellow {
  background: #ffa500;
}
.demo-style-switch ul.styles li .red {
  background: #E91E63;
}
.demo-style-switch ul.styles li .blue-munsell {
  background: #0dbda1;
}
.demo-style-switch ul.styles li .pink {
  background: #f6c;
}
.demo-style-switch ul.styles li .dark-green {
  background: #188c91;
}
.demo-style-switch .switch-button {
  opacity: 1 !important;
  background: #FFF;
  padding: 10px;
  font-size: 24px;
  color: #272727 !important;
  position: absolute;
  overflow: hidden;
  right: -44px;
  top: -10;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.demo-style-switch .switch-button:hover {
  color: #008ed6;
  cursor: pointer;
  text-decoration: none;
}

.mh-demo-styles h4 {
    color: #202026cf;
    margin: 10px 0;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
}
.mh-demo-styles ul{
  margin-bottom: 12px;
}
.mh-demo-styles ul li{
  display: inline-block;
  width: 49%;
}
.demo-style-switch ul li a img {
  border: 1px solid #000;

}
